<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL短縮ツール</title>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <h1>超短縮URLジェネレーターサイト「trim6」へようこそ</h1>
    <p>下のフォームに変換前のURLを貼ってください。「短縮」を押すと、下に6文字に短縮されたURLが出てきます。</p>
    <form id="shorten-form">
        <input type="url" id="original-url" placeholder="URLを入力" required>
        <button type="submit">短縮</button>
    </form>

    <div id="result" style="display: none;">
        <p>短縮URL: <a id="short-url" href="#" target="_blank"></a></p>
        <button id="copy-btn">コピー</button>
        <button id="share-btn">共有</button>
    </div>
</body>

</html>